body{
background-color: #0C0C11;
margin: 0 auto;
font-family: 'Teko', sans-serif;
}

.banner{
  width: 100%;
  margin-bottom: 100px;
}

.container{
  margin: auto;
  width: 1116px;

}

.redbanner{
  background-color: #2B0E14;
  width: 100%;
  font-size: 85px;
  border-radius: 15px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 200px;
}

.redbanner .demo{
position: absolute;
bottom: 0px;
left: 60px;
}

.redbanner h1{
  color: #FBFBFB;
  font-size: 85px;
  font-weight: 400;

}

.redbanner2{
  background-color: #2B0E14;
  width: 100%;
  border-radius: 15px;
  padding-left: 25px;
  display: flex;
 /*  position: relative; */
  color: #FBFBFB;
  font-size: 24px;
  text-align: center;

}

.redbanner2 h2{
  color: #FBFBFB;
  font-size: 49px;
  font-weight: 400;

}

/* .redbanner2 .album{
  position: absolute;
  top: -80px;
  right: 0px;
} */
