body{
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;

  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
}

footer{
  margin-top: 285px;
  height: 119px;
  background-color: #FFC107;
  display: flex;
  align-items: center;
}

footer p{
  margin: 0 0 0 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FDFDFD;
}

a{
  text-decoration: none;
  color: #FDFDFD;
}

h1{
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #FFA000;
  margin-bottom: 41px;
}

h2{
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #FFA000;
  margin: 0 0 36px 0;
}

h3{
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
  margin: 0;
  padding: 19px 0;
}

li{
  list-style-type: none;
  color: #FDFDFD;
  font-weight: 700;

}

ul{
  padding: 13px 0 17px 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.column{
  display: flex;
  margin-top: 107px;

}

.center{

  justify-content: space-evenly;
}

.supermargin{
  margin: 0 58px;
}

.nav-top{
height: 117px;
background-color: #FFC107;
text-align: center;
vertical-align: middle;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
position: relative;
}

.nav-top img{
  margin-top: 16px;
}

.nav-bottom{
  background-color: #FFA000;
}

.main-pic{
  width: 100%;
	height: 100vh;
	/* position: relative; */
	background-image:url(./img/image\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-pic h1{
  margin: 0;
  padding: 166px 101px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;
  text-transform: lowercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
  color: #FFFFFF;
  text-align: end;
}

.container1{
  max-width: 592px;
  flex-direction:column;
  margin: 0 0 137px 0;
}

.container1 img{
  margin-bottom: 25px;

}

.container2{
  max-width: 592px;
  flex-direction:column;
  margin: 115px 0 0 0;
}

.btn{
  border: 1px solid #176902;
  border-radius: 47px;
  color: #176902;
  padding: 7px 27px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.supermargin2{
  margin-left: 19px;

}

.risoto p{
  margin-top: 65px;
  margin-bottom: 37px;
}

.card{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 345px;
  margin-bottom: 55px;
}

.cardextra{
  margin-bottom: 90px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 345px;
}
